<html>
<head>

<style>
body{

background-image: url({{ url_for('static', filename='kbackground.png') }})


}
</style>
<title> Home</title>


</head>
<body style="background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;">
<center><h1>NHẬN DIỆN ĐỘNG VẬT HOANG DÃ DEMO</h1>
<BR><BR>

<!-- <P><a href= document><IMG src="{{url_for('static', filename='document.png')}}" height=150 width=150></a><br>
<h5>Documentation</h5> -->

<br>

<P><a href= implement><IMG src="{{url_for('static', filename='1111.jpg')}}" height=150 width=150></a><br>
<h5>NHẬN DIỆN DEMO</h5><br>

<!-- <h6>DEMO<BR> -->
<BR><BR>
</H6>


</center>



</body>
</html>

